*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

a{
    font: inherit;
    color: inherit;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

button{
    border: 0;
    font: inherit;
    color: inherit;
    background-color: transparent;
}

.container{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.header__navbar{
    padding: 32px 0;
    border-bottom: 1px solid #828282;
}

.header__menyu{
    display: flex;
    justify-content: space-between;
}
